/.github/
/.vscode/
/node_modules/
/build/
/tmp/
.idea/*
/docs/

coverage
*.log
.gitlab-ci.yml

package-lock.json
build-and-publish
build.ts
jest.config.js
/*.tgz
/tmp*
/mnt/
/package/
/src/
/patches/
